body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    margin: 0px;
    padding: 0;
    height: 100%
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 475px;
    background-color: rgb(10, 10, 10);
    border: 5px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(15, 15, 15);
}

label, input {
    display: flex;
    margin: 10px;
}

.entrada {
    display: flex;
    width: 325px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(15, 15, 15);
    color: white;
    border-radius: 15px; 
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.texto {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    margin: 10px;
}

#botao-assinar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 35px;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 15px; 
    border: none;
    cursor: pointer;
    outline: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
#botao-assinar:hover {
    opacity: 70%;
}
#botao-assinar:active {
    opacity: 90%;
}

#section-principal {
    display: flex;
    flex-direction: row;
}

#logo {
    position: relative;
    bottom: 50px;
    font-size: 40px;
}

#botao-voltar {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 15px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding: none;
    cursor: pointer;
    z-index: 10;
}